# LLM platform key for DeepSeek, OpenAI, and Tavily. For Google Workspace services, you need to create a Google Cloud project and enable the APIs you want to use. Then, create OAuth 2.0 credentials and set the client ID and secret here.
DEEPSEEK_API_KEY=123
OPENAI_API_KEY=123
GOOGLE_API_KEY=123

# SEARCH ENGINE API KEYS
TAVILY_API_KEY=123

# GOOGLE WORKSPACE API KEYS
GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123
GOOGLE_WORKSPACE_SERVICES=gmail,meet,calendar,drive,sheets,docs,slides,contacts
